
/* #thead {
  border: thin solid blue;
} */

#store-form {
  width: 400px;
  margin: 30px;
}

.thinBorder {
  border: thin solid black; 
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: salmon;
  padding: 10px;
  text-align: center;
}

.title {
  margin: 0;
  color: white;
}

.sales-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.location-section,
.hours-section,
.contact-section {
  margin-bottom: 40px;
}

.location-info {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.location-info h2 {
  margin-top: 0;
}

h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin: 5px 0;
}

.image-scroll-container {
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.image-wrapper {
  display: flex;
  width: 1000%;
  transition: transform 0.3s ease;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.image-wrapper {
  display: inline-block;
}

.image-wrapper img {
  height: 200px; 
  width: auto; 
  margin-right: 10px;
}

.image-scroll-container::-webkit-scrollbar {
  display: none;
}

.image-scroll-container {
  scrollbar-width: none;
}
